<main class="flex flex-col space-y-5 w-full">
<section class="w-full flex px-6 md:px-12 items-center flex-col">

<h2>Sign Up</h2>

<%= form_with model: @user, do |f| %>
  <div>
    <%= form. :email_address %>
    <%= f.email_field :email_address %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

    <div>
    <%= form.label :role %>
    <%= form.select :role, User.roles.keys %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<%= link_to "Already have an account? Log in", new_session_path %>

</section>
</main>